name: CI

on:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
    - uses: pre-commit/action@v3.0.0

  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install poetry
        poetry install
    - name: Setup container display
      # https://arbitrary-but-fixed.net/2022/01/21/headless-gui-github-actions.html
      run: Xvfb :1 -screen 0 1600x1200x24 &
    - name: Pytest
      run: poetry run pytest -v
      env:
        DISPLAY: :1
    - name: Mypy
      run: poetry run mypy src
